# ignore venv
venv/
.venv/

# ignore pycache
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# ignore .env file
.env

# ignore IDE settings
.vscode/
.idea/

# tests / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
.ruff_cache/

